@keyframes selection {
    0% {
        width: 0%;
        opacity: 0%;
    }

    60% {
        width: 25%;
        opacity: 1;
    }

    100% {
        width: 25%;
        opacity: 1;

    }
}
@keyframes selection_img {
    0% {
        opacity: 0;
        transform: rotate(0deg);
    }
    10% {
        opacity: 1;
        transform: rotate(36deg);
    }
    100%{
        opacity: 1;
        transform: rotate(360deg);

    }
}
@keyframes openMenu {
    0% {
        opacity: 0;
        transform: translateY(-60px);
    }
    85% {
        opacity: 1;
        transform: translateY(0px);
    }
    100% {
        opacity: 1;
    }
}
@keyframes spindiv{
    0%{
        opacity:1;
    }
    50%{
        opacity:1;
    }
    100%{
        opacity:0;
        z-index:-1;
    }
}
@keyframes spin{
    0%{
        transform:rotate(0deg);
    }
    5%{
        transform:rotate(18deg);
    }
    10%{
        transform:rotate(36deg);
    }
    15%{
        transform:rotate(54deg);
    }
    20%{
        transform:rotate(72deg);
    }
    25%{
        transform:rotate(90deg);
    }
    30%{
        transform:rotate(108deg);
    }
    35%{
        transform:rotate(126deg);
    }
    40%{
        transform:rotate(144deg);
    }
    45%{
        transform:rotate(162deg);
    }
    50%{
        transform:rotate(180deg);
    }
    55%{
        transform:rotate(198deg);
    }
    60%{
        transform:rotate(216deg);
    }
    65%{
        transform:rotate(234deg);
    }
    70%{
        transform:rotate(252deg);
    }
    75%{
        transform:rotate(270deg);
    }
    80%{
        transform:rotate(288deg);
    }
    85%{
        transform:rotate(306deg);
    }
    90%{
        transform:rotate(324deg);
        opacity:1;
    }
    95%{
        transform:rotate(342deg);
    }
    100%{
        transform:rotate(360deg);
        opacity:0;
        visibility: hidden;
    }
}
@keyframes openBody{
    0%{
        overflow: hidden;
    }
    100%{
        overflow: hidden;
    }
}